$mq-support: true !default;
$mq-fixed-value: 1024px !default;

@mixin bp($prop, $value) {
  $media: only screen;

  @if $mq-support == true {
    // supports media queries
    @media #{$media} and ($prop: $value) {
      @content;
    }
  } @else {
    // does not support media queries
    @if $prop == "min-width" {
      @if $value <= $mq-fixed-value {
        @content;
      }
    } @else if $prop == "max-width" {
      @if $value >= $mq-fixed-value {
        @content;
      }
    }
  }
}
